<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원정보 관리</title>
<link rel="icon" href="/img/logo/favicon.png">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<script src="/js/pub-ui-custom.js"></script>
</head>
<body>
	<div id="header" th:replace="include/header"></div>
	<div class="container column mt50">
		<div class="column-row">
			<div class="c-column-2">
				<div id="system_menu" th:replace="include/system"></div>
			</div>
			<div class="c-column-8">
				<div class="sys-system_menu">
					<h2>질문게시판 관리</h2>
					<div class="search-bar mb20">
						<input type="text" name="searchKeyword" placeholder="검색어 입력">
						<button class="btn_search">검색</button>
					</div>
					<div class="sys-description-box mb20">
						<h3>질문글 수 : <span th:text="${questionCount}"></span></h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>번호</th>
								<th>문제번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="question : ${questions}">
								<td th:text="${question.idx}">1</td>
								<td th:text="${question.testIdx}">1</td>
								<td th:text="${question.title}">이 문제 버그났어요.</td>
								<td th:text="${question.writer}">한건희</td>
								<td th:text="${question.regdate}">2024-11-04</td>
								<td><a href="" class="btn_delete">삭제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</body>
<footer>
	<div id="footer" th:replace="include/footer"></div>
</footer>
</html>