<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>문제 작성</title>
  <!-- Standard css -->
  <link rel="icon" href="/img/logo/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <!-- pub-js link -->
  <script src="/js/pub-ui-custom.js"></script>
  
  
</head>
<body>
  <!-- header 영역 -->
  <div id="header"></div>
  <div class="container">
    <div class="main-content">
      <div class="content-board-notice-write">
        <div class="content-board-notice-write-wrap">
          <h2>문제 작성</h2>
          <div class="mt30"></div>
          <form class="WriteForm" id="WriteForm" name="writeForm" method="post">
	          <div class="category-menu">
	            <label for="category-level">언어<span class="asterisk"></span></label>
	            <select name="category-language-code">
	              <option value="LNG-0001" selected>JAVA</option>
	              <option value="LNG-0002">javascript</option>
	              <option value="LNG-0003">sql</option>
	            </select>
	          </div>
	          <div class="category-title">
	            <label for="title">제목<span class="asterisk"></span></label>
	            <input type="text" name="title" id="title" placeholder="제목을 입력해 주세요" maxlength="100">
	          </div>
	          <div class="category-content mt20">
	            <label for="content">내용<span class="asterisk"></span></label>
	            <div id="content"></div>
	          </div>
	          <div class="category-content mt20">
	            <label for="content">정답 코드<span class="asterisk"></span></label>
	            <div id="content"></div>
	          </div>
	          <div class="category-content mt20">
	            <label for="content">비교 코드<span class="asterisk"></span></label>
	            <div id="content"></div>
	          </div>
	          <div class="category-footer mt30">
	            <input type="button" onclick="testWrite()" value="문제 출제">
	            <input type="button" onclick="history.back();" value="뒤로가기">
	          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 <!-- footer영역 -->
 <div id="footer"></div>

   
</body>
</html>